In [1]:
"""
İleri Seviye Sayılar
Bu konuda sayı veritiplerini biraz daha derinlemesine incelemeye ve sayılar üzerinde uygulanabilen 
yararlı fonksiyonları öğrenmeye çalışacağız.

Bazen programlamada sayılarımızı 10'luk taban haricinde 2'lik(binary) ve 16'lık(hexadecimal) tabanda
göstermek ve kullanmak isteyebiliriz.

10'luk tabandaki sayıları 2'lik ve 16'lık tabanda göstermeye başlamadan önce şu linklerden 2'lik(binary)
ve 16'lık(hexadecimal) tabanları incelemenizi tavsiye ediyorum.

https://www.turkcebilgi.com/ikili_(binary)_say%C4%B1_sistemleri

http://www.blogkafem.net/2014/01/sayi-sistemleri.html

Şimdi isterseniz 10'luk tabandaki bir sayıyı ikilik tabana çevirmek için kullanılan bin() fonksiyonuna bakalım.
"""
bin(4) # bin fonksiyonu . Sayımız 2'lik tabanda yazıldı. (1 ve 0)

'0b100'

In [2]:
bin(19) # bin fonksiyonu . Sayımız 2'lik tabanda yazıldı. (1 ve 0)

'0b10011'

In [3]:
bin(521) # bin fonksiyonu . Sayımız 2'lik tabanda yazıldı. (1 ve 0)

'0b1000001001'

In [4]:
hex(32) # Sayımız 16'lık tabanda yazıldı.

'0x20'

In [5]:
hex(54) # Sayımız 16'lık tabanda yazıldı.

'0x36'

In [6]:
hex(1212) # Sayımız 16'lık tabanda yazıldı.

'0x4bc'

In [7]:
"""
Fonksiyonlar
abs fonksiyonu
Sayının mutlak değerini almamızı sağlar.
"""
abs(-1)

1

In [10]:
"""
ound fonksiyonu
Sayıları alta veya üste yuvarlar.

round(3.7)
4
round(3.2)
3
round(3)
3
round(3.21329321321323,4) # Ondalıklı sayının 4. hanesine göre yuvarlar
3.2133
round(3.21324321321323,4) # Ondalıklı sayının 4. hanesine göre yuvarlar
"""
round(4.8)

5

In [12]:
round(4.812132,3)

4.812

In [13]:
"""
max ve min fonksiyonu
max() fonksiyonu verdiğimiz değerlerin en büyüğünü döndürür.
"""
max(3,4)

4

In [14]:
min(3,4)

3

In [16]:
"""
sum fonksiyonu
sum() fonksiyonu verilen değerleri toplayarak döndürür. Değerlerin liste,demet vb. şeklinde verilmesi gerekir.
"""
sum(3,4)

TypeError: 'int' object is not iterable

In [17]:
sum([3,4,5,6,7])

25

In [18]:
"""
pow fonksiyonu
pow() fonksiyonu üs alma işlemlerinde kullanılır.
"""
pow(2,4) # 2 üzeri 4

16

In [19]:
"""
İleri Seviye Kümeler (Sets)
Bu konuda yeni bir veritipi olan kümeler veya ingilizce adıyla setleri öğreneceğiz.

Kümeler, matematikte olduğu gibi bir elemandan sadece bir adet tutan bir veritipidir. Bu açıdan kullanıldıkları 
yerlerde çok önemli bir veritipi olmaktadırlar. İsterseniz hemen bir küme oluşturalım.

Küme oluşturmak
"""
x =  set() # Boş küme

In [20]:
type(x)

set

In [26]:
liste = [1,2,3,3,1,1,2,2,2] # Aynı elemanı birçok defa  barındıran bir liste

In [27]:
x = set(liste) # Veri tipi dönüşümü

In [28]:
x

{1, 2, 3}

In [29]:
x={}

In [30]:
type(x)

dict

In [31]:
x = set("Python Programlama Dili")  # Aynı karakterler tek bir karaktere indirgendi.

In [32]:
x

{' ', 'D', 'P', 'a', 'g', 'h', 'i', 'l', 'm', 'n', 'o', 'r', 't', 'y'}

In [33]:
"""
For döngüsüyle Gezinmek
Kümeler de tıpkı sözlükler gibi sırasız bir veri tipidir. Bunu for döngüsüyle görebiliriz.
"""
x = {"Python","Php","Java","C","Javascript"}

In [34]:
for i in x:
    print(i)

Javascript
C
Php
Python
Java

In [35]:
#indekslenemezler
x[0]

TypeError: 'set' object is not subscriptable

In [36]:
"""
Python Set add() Method
içine girdiğimiz değeri kümeye ekler varsa ekleme olmaz
"""
x = {1,2,3}

In [37]:
x.add(4)

In [38]:
x

{1, 2, 3, 4}

In [40]:
x.add(3)

In [41]:
x

{1, 2, 3, 4}

In [43]:
"""
Python Set clear() Yöntemi
Tanım ve Kullanım
Yöntem clear(), bir kümedeki tüm öğeleri kaldırır.
"""
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [44]:
"""
Python Set copy() Yöntem

"""
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'apple', 'cherry'}

In [45]:
"""
Python Set difference() Method
"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [46]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'google', 'microsoft'}

In [47]:
"""
difference_update() Yöntemi
Tanım ve Kullanım
Yöntem difference_update(), her iki kümede de bulunan öğeleri kaldırır.

Yöntem yöntemden difference_update()farklıdır difference(), çünkü difference() yöntem 
istenmeyen öğeler olmadan yeni bir küme döndürür ve istenmeyen öğeleri orijinal kümeden
kaldırır .difference_update()
"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [50]:
"""
Python Set discard() Method
"""
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

In [51]:
"""
Python Set intersection() Method
kavşak() yöntemi, iki veya daha fazla küme arasındaki benzerliği içeren bir küme döndürür.
Anlamı: Döndürülen küme, yalnızca her iki kümede veya karşılaştırma ikiden fazla kümeyle
yapılırsa tüm kümelerde bulunan öğeleri içerir.
"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [52]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.intersection(x)

print(z)

{'apple'}

In [53]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

In [54]:
x = {"banana", "cherry"}
y = {"google", "microsoft"}

z = y.intersection(x)

print(z)

set()

In [55]:
"""
Python Set intersection_update() Method
"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [56]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

In [57]:
"""
Python Set isdisjoint() Method
isdisjoint() yöntemi, öğelerin hiçbiri her iki kümede de yoksa True döndürür, aksi takdirde False döndürür.
"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [58]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

In [59]:
"""
Python Set issubset() Method
alt küme mi kontrol edebilirsin
issubset() yöntemi, kümedeki tüm öğeler belirtilen kümede varsa True döndürür, aksi takdirde False döndürür.
"""
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

In [60]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b","a"}

z = x.issubset(y)

print(z)

True

In [61]:
"""
Python Set issuperset() Yöntem
Yöntem issuperset(), belirtilen kümedeki tüm öğeler orijinal 
kümede varsa True döndürür, aksi takdirde False döndürür.
"""
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [62]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

In [64]:
"""
Python Set pop() Method
Yöntem pop(), kümeden rastgele bir öğeyi kaldırır.

Bu yöntem, kaldırılan öğeyi döndürür.
"""
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'apple', 'cherry'}

In [65]:
fruits = {"apple", "banana", "cherry"}

fruits.pop(1)

print(fruits)

TypeError: set.pop() takes no arguments (1 given)

In [66]:
"""
Python Set remove() Method
Tanım ve Kullanım remove() yöntemi, belirtilen öğeyi kümeden kaldırır. 
Bu yöntem, throw() yönteminden farklıdır, çünkü belirtilen öğe mevcut değilse
remove() yöntemi bir hataya neden olur ve throw() yöntemi de olmaz.
"""
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

In [67]:
fruits.remove("banana")

print(fruits)

KeyError: 'banana'

In [69]:
"""
Python Set symmetric_difference() Yöntemi
Yöntem symmetric_difference(), her iki kümedeki tüm öğeleri içeren, ancak her 
iki kümede bulunan öğeleri içermeyen bir küme döndürür.

Anlamı: Döndürülen küme, her iki kümede de bulunmayan öğelerin bir karışımını içerir.


"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'google', 'cherry'}

In [70]:
"""
symmetric_difference_update()
Yöntem symmetric_difference_update(), her iki kümede bulunan öğeleri kaldırarak ve diğer öğeleri ekleyerek
orijinal kümeyi günceller.
"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'banana', 'google', 'cherry'}

In [71]:
"""
union()
Tanım ve Kullanım
Yöntem union(), orijinal kümedeki tüm öğeleri ve belirtilen küme(ler)deki tüm öğeleri içeren bir küme döndürür.

Virgülle ayırarak istediğiniz kadar set belirleyebilirsiniz.

Bir küme olması gerekmez, yinelenebilir herhangi bir nesne olabilir.

Bir öğe birden fazla sette mevcutsa sonuç, bu öğenin yalnızca bir görünümünü içerecektir.
"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'apple', 'microsoft', 'banana', 'google', 'cherry'}

In [72]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'c', 'b', 'd', 'e', 'f', 'a'}

In [73]:
"""
update()
Tanım ve Kullanım
Yöntem update(), başka bir kümeden (veya yinelenebilir herhangi bir başka kümeden) öğeler
ekleyerek mevcut kümeyi günceller.

Her iki sette de bir öğe varsa, güncellenen sette bu öğenin yalnızca bir görünümü olacaktır.
"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'apple', 'microsoft', 'banana', 'google', 'cherry'}