# SQLLITE

In [1]:
import sqlite3

In [ ]:
# Veri tabanı oluşturma

database = sqlite3.connect("kütüphane.db") # connect database bağlanır, yoksa kurar

cursor = database.cursor() # file open gibi imleç görevi görür

database.close()  # close database kapatır bağlantıyı kopatır

# Baktığınız zaman dosyalarla aynı

Tablo Oluşturmak İki Farklı Yöntem Var

CREATE TABLE tablename (isim TEXT, yazar TEXT, yayınevi TEXT, sayfa_sayısı INT, ücret FLOAT)
bu sorgu tablename isimli tablo oluşturur TEXT INT FLOAT veri tipini temsil eder
CREATE TABLE IF NOT EXISTS tablename (isim TEXT, yazar TEXT, yayınevi TEXT, sayfa_sayısı INT, ücret FLOAT)


ilk sorgu tablo varsa hata verir ikinci ise hata vermez

In [6]:
#CREATE TABLE tablename (isim TEXT, yazar TEXT, yayınevi TEXT, sayfa_sayısı INT, ücret FLOAT)
#CREATE TABLE IF NOT EXISTS tablename (isim TEXT, yazar TEXT, yayınevi TEXT, sayfa_sayısı INT, ücret FLOAT)
cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (isim TEXT, yazar TEXT, yayınevi TEXT, sayfa_sayısı INT, ücret FLOAT)")
# execute tablo oluşturma komutu
# tabloyu oluşturduktan sonra commit etmemiz gerekli ki değişiklikler kabul olsun
database.commit()

ProgrammingError: Cannot operate on a closed database.

In [8]:
# Hata aldık çünkü database bağlanmadık
database = sqlite3.connect("kütüphane.db")

cursor = database.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (isim TEXT, yazar TEXT, yayınevi TEXT, sayfa_sayısı INT, ücret FLOAT)")

database.commit()

database.close()

In [3]:
# Burada kitaplık tablomuza veri eklemek için INSERT INTO komutunu çalıştırcaz.
# Sqllite da sorguları küçük büyük harfle yazabiliriz.
database = sqlite3.connect("kütüphane.db")
cursor = database.cursor()

cursor.execute("insert into kitaplık values('İstanbul Hatırası','Ahmet Ümit','Everest','261','199.99')")
database.commit()
# commitlemeyi unutmuyoruz

database.close()

In [4]:
# Burada kitaplık tablomuza veri eklemek için INSERT INTO komutunu çalıştırcaz.
# Sqllite da sorguları küçük büyük harfle yazabiliriz.
database = sqlite3.connect("kütüphane.db")
cursor = database.cursor()

cursor.execute("insert into kitaplık values('İstanbul Hatırası','Ahmet Ümit','Everest','261','199.99')")
cursor.execute("insert into kitaplık values('İstanbul Hatırası','Devrimin Güncelliği','Tunçer','211','399.99')")
cursor.execute("insert into kitaplık values('İstanbul Hatırası','Bir Güzel Esma','Tanşa','61','19.99')")
cursor.execute("insert into kitaplık values('İstanbul Hatırası','Yozgatı Kokluyorum','İş Bankası','1261','1199.99')")
database.commit()
# commitlemeyi unutmuyoruz

In [4]:
database.close()

Buradaki sorgularımız

Select * From kitaplık  -- kitaplıktaki tüm bilgileri çekme

Select İsim,Yazar From kitaplık -- tablodaki tüm verilerin sadece isim yazar özelliklerini

Select * From kitaplık where Yayınevi = 'Everest'  -- sadece yayınevi özelliği everest olanlar

In [6]:
# database bağlanalım

database = sqlite3.connect("kütüphane.db")

cur = database.cursor()

cur.execute("select * from kitaplık")

data = cur.fetchall() # Veri tabanından verileri çekmek için bu fonksiyonu kullanırız


for i in data:
    print(i)
# database.commit() işlemine gerek yok. Çünkü tabloda herhangi bir güncelleme yapmıyoruz.
print("-----------------------")
print(data)
database.close()

('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 261, 199.99)
('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 261, 199.99)
('İstanbul Hatırası', 'Devrimin Güncelliği', 'Tunçer', 211, 399.99)
('İstanbul Hatırası', 'Bir Güzel Esma', 'Tanşa', 61, 19.99)
('İstanbul Hatırası', 'Yozgatı Kokluyorum', 'İş Bankası', 1261, 1199.99)
-----------------------
[('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 261, 199.99), ('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 261, 199.99), ('İstanbul Hatırası', 'Devrimin Güncelliği', 'Tunçer', 211, 399.99), ('İstanbul Hatırası', 'Bir Güzel Esma', 'Tanşa', 61, 19.99), ('İstanbul Hatırası', 'Yozgatı Kokluyorum', 'İş Bankası', 1261, 1199.99)]

In [7]:
# İkinci sorgumuzu yazalım

db = sqlite3.connect("kütüphane.db")

cur = db.cursor()

cur.execute("Select sayfa_sayısı,ücret from kitaplık")

data = cur.fetchall()

for i in data:
    print(i)

db.close()

(261, 199.99)
(261, 199.99)
(211, 399.99)
(61, 19.99)
(1261, 1199.99)

In [9]:
# Üçüncü sorgumuz

db = sqlite3.connect("kütüphane.db")

cur = db.cursor()

cur.execute("select * from kitaplık where yazar = 'Ahmet Ümit'")

data = cur.fetchall()

print(data)

db.close()

[('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 261, 199.99), ('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 261, 199.99)]

In [14]:
# Tablodaki verileri güncelleme

db = sqlite3.connect("kütüphane.db")

cur = db.cursor()

cur.execute("select * from kitaplık where yayınevi = 'Tunçer'")

data = cur.fetchall()

print(data)

cur.execute("update kitaplık set yayınevi='Tunçer' where yayınevi ='Tanşa'") # Güncelleme promptu

db.commit()

cur.execute("select * from kitaplık where yayınevi = 'Tunçer'")

data = cur.fetchall()

print(data)

db.close()

[('İstanbul Hatırası', 'Devrimin Güncelliği', 'Tunçer', 211, 399.99)]
[('İstanbul Hatırası', 'Devrimin Güncelliği', 'Tunçer', 211, 399.99), ('İstanbul Hatırası', 'Bir Güzel Esma', 'Tunçer', 61, 19.99)]

In [19]:
db = sqlite3.connect("kütüphane.db")

cur = db.cursor()

cur.execute("select * from kitaplık")

data = cur.fetchall()

for i in data:
    print(i)

print("---------------------")

cur.execute("update kitaplık set isim='Kitap 1' where isim='İstanbul Hatırası'")
#cur.execute("update kitaplık set isim='İstanbul Hatırası' where yayınevi='Kita'")
db.commit()

cur.execute("select * from kitaplık")

data = cur.fetchall()

for i in data:
    print(i)

db.close()

('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 261, 199.99)
('İstanbul Hatırası', 'Ahmet Ümit', 'Everest', 261, 199.99)
('İstanbul Hatırası', 'Devrimin Güncelliği', 'Tunçer', 211, 399.99)
('İstanbul Hatırası', 'Bir Güzel Esma', 'Tunçer', 61, 19.99)
('İstanbul Hatırası', 'Yozgatı Kokluyorum', 'İş Bankası', 1261, 1199.99)
---------------------
('Kitap 1', 'Ahmet Ümit', 'Everest', 261, 199.99)
('Kitap 1', 'Ahmet Ümit', 'Everest', 261, 199.99)
('Kitap 1', 'Devrimin Güncelliği', 'Tunçer', 211, 399.99)
('Kitap 1', 'Bir Güzel Esma', 'Tunçer', 61, 19.99)
('Kitap 1', 'Yozgatı Kokluyorum', 'İş Bankası', 1261, 1199.99)

In [ ]:
db = sqlite3.connect("kütüphane.db")

cur = db.cursor()

cur.execute("select * from kitaplık")

data = cur.fetchall()

for i in data:
    print(i)

print("---------------------")

#cur.execute("update kitaplık set isim='Kitap 1' where isim='İstanbul Hatırası'")
cur.execute("update kitaplık set yayınevi='Kitaplar' where isim='Kitap 1'")
db.commit()

cur.execute("select * from kitaplık")

data = cur.fetchall()

for i in data:
    print(i)

db.close()

('Kitap 1', 'Ahmet Ümit', 'Everest', 261, 199.99)
('Kitap 1', 'Ahmet Ümit', 'Everest', 261, 199.99)
('Kitap 1', 'Devrimin Güncelliği', 'Tunçer', 211, 399.99)
('Kitap 1', 'Bir Güzel Esma', 'Tunçer', 61, 19.99)
('Kitap 1', 'Yozgatı Kokluyorum', 'İş Bankası', 1261, 1199.99)
---------------------
('Kitap 1', 'Ahmet Ümit', 'Kitaplar', 261, 199.99)
('Kitap 1', 'Ahmet Ümit', 'Kitaplar', 261, 199.99)
('Kitap 1', 'Devrimin Güncelliği', 'Kitaplar', 211, 399.99)
('Kitap 1', 'Bir Güzel Esma', 'Kitaplar', 61, 19.99)
('Kitap 1', 'Yozgatı Kokluyorum', 'Kitaplar', 1261, 1199.99)

In [25]:
db.close()

In [26]:
# Veri silmeye bakalım

db = sqlite3.connect("kütüphane.db")

cur = db.cursor()


cur.execute("delete from kitaplık where yazar ='Ahmet Ümit' ")

db.commit()

cur.execute("Select * from kitaplık")

data = cur.fetchall()

for i in data:
    print(i)

db.close()

OperationalError: database is locked

In [5]:
# Veri silmeye bakalım

db = sqlite3.connect("kütüphane.db")

cur = db.cursor()


cur.execute("delete from kitaplık where yazar ='Ahmet Ümit' ")

db.commit()

cur.execute("Select * from kitaplık")

data = cur.fetchall()

for i in data:
    print(i)

db.close()

('Kitap 1', 'Devrimin Güncelliği', 'Kitaplar', 211, 399.99)
('Kitap 1', 'Bir Güzel Esma', 'Kitaplar', 61, 19.99)
('Kitap 1', 'Yozgatı Kokluyorum', 'Kitaplar', 1261, 1199.99)
('İstanbul Hatırası', 'Devrimin Güncelliği', 'Tunçer', 211, 399.99)
('İstanbul Hatırası', 'Bir Güzel Esma', 'Tanşa', 61, 19.99)
('İstanbul Hatırası', 'Yozgatı Kokluyorum', 'İş Bankası', 1261, 1199.99)